#content{
    margin-top:var(--height-header);
    z-index: 0;
}

#content .title-shopping{
    margin: 40px 0;
    color: var(--main-color);
}

.demo-products{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#content .banner-products{
    display: flex;
}

.banner-products .banner{
    width: 80%;
}

.demo-products .products{
    width: 100%;
    height: fit-content;
}

.demo-products .products:nth-child(even){
    background-color: #ccc;
}

.demo-products .products:nth-child(odd) h1{
    display: flex;
    justify-content: flex-end;
}

.demo-products .products h1{
    width: 100%;
    /* border-bottom: 1px solid black; */
    /* border-left: 1px solid black; */
    padding:5px 10px;
    
}

.hot i {
    color: rgb(247, 58, 6);
}

.sport i{
    color: rgb(20, 12, 243);
}

.affordable i{
    color: rgb(224, 220, 10);
}

.luxury i{
    color: rgb(236, 40, 69);
}

.demo-products .products .banner-products .container{
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.products .container .product{
    width: 40%;
    border-radius: 20px;
    display: block;
}

.products .container .product:hover{
    width: 60%;
    cursor: pointer;
    transform: translateY(10px);
    transition: 0.3s ease-in-out;
}

.products img{
    width: 100%;
    border-radius: 20px;
}

.products .product .name{
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    text-align: center;
}