.map{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.map h1{
    width: 80%;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    padding:5px 10px;
}

.map .map-container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.map .map-container iframe{
    width: 800px;
    height: 600px; 
    border: 0;
    box-shadow: 5px 5px 30px #ccc;
}

.map i, .demo-products i{
    margin: 0px 5px;
}

.map i{
    color: rgb(57, 66, 242);
}