.demo-products{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.products{
    width: 80%;
}

.products h1{
    width: 100%;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    padding:5px 10px;
}

.hot i {
    color: rgb(247, 86, 6);
}

.sport i{
    color: rgb(20, 12, 243);
}

.affordable i{
    color: rgb(224, 220, 10);
}

.luxury i{
    color: rgb(236, 40, 69);
}

.products .container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 50px;
}

.products .container .product{
    width: 25%;
    display: block;
}

.products .container .product img{
    width: 100%;
}

.products .product .name{
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.map{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.map h1{
    width: 80%;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    padding:5px 10px;
}

.map .map-container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.map .map-container iframe{
    width: 800px;
    height: 600px; 
    border: 0;
    box-shadow: 5px 5px 30px #ccc;
}

.map i, .demo-products i{
    margin: 0px 5px;
}

.map i{
    color: rgb(57, 66, 242);
}