*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

:root{
    --height-header:80px;
    --main-color:#2ac304f0;
    --main-border-color: #999;
}

#header{
    width: 100%;
    height: var(--height-header);
    background-color: #fff;
    box-shadow: 5px 10px 20px rgb(98, 93, 93);
    position: fixed;
    z-index: 3;
}

#header #container{
    display: flex;
    position: relative;
}

#header #logo{
    width: 300px;
    height: var(--height-header);
    background: url(../img/logo/logo3-edited-removebg-preview.png) left no-repeat;
}

#header #nav{
    margin: 0 15px;
}

#header #nav-list{
    list-style: none;
    display: flex;
}

#header #nav-list li{
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    line-height: var(--height-header);
    padding: 0 10px;
    text-transform: uppercase;
    color: rgb(90, 71, 71);
    transition: 0.4s ease-out;
}

#header #nav-list li i{
    font-size: 32px;
}

#header li .animate{
    width: 0%;
    height: 4px;
    /* background: linear-gradient(90deg, rgb(7, 233, 11) 0%, rgb(34, 5, 249) 65%, rgb(213, 8, 90) 100%); */
    background-color: var(--main-color);
    border-radius: 2px;
    margin: -20px 0;
    transition: 0.4s ease-out;
}

#header #group-account{
    width: 20%;
    height: var(--height-header);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    right: 0;
}

#header #group-account .icon{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    color: black;
    border-radius: 50%;
}

#header #group-account .popUp-card{
    position: absolute;
    top: 4rem;
    right: 0;
    width: max-content;
    padding: 5px 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 20px;    
    display: none;
}

#header .popUp-card p{
    padding: 10px 15px;
    border-radius: 10px;
}

#header .popUp-card p:hover{
    background-color: #eee;
}

#header .account-info{
    min-width: 200px!important;  
    min-height: 100px;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header .account-info .avt-container{
    width: 300px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header .avt-container .avt{
    display: flex;
    justify-content: center;
    width: 30%;
}

#header .avt-container .change-avt{
    margin: 10px;
    padding: 5px;
    border: 1px solid var(--main-border-color);
    border-radius: 15px;
    transition: 0.3s ease-in-out;
}

#header .avt-container .change-avt:hover{
    background-color: var(--main-color);
}

#header .account-info .customer-info{
    width: 100%;
    padding: 0 10px;
}

#header .account-info .customer-info > div{
    display: flex;
}

#header .account-info .customer-info p{
    padding: 5px;
}

#header .account-info .customer-info .content{
    color: #555;
}

#header .icon i{
    font-size: 22px;
    transition: 0.3s ease-in-out;
}

#header .icon img{
    width: 80%;
    border-radius: 50%;
}

#header .cart-icon{
    position: relative;
}

#header .cart-icon i{
    transform: rotateY(180deg);
}

#header .cart-icon .notify{
    display: none;
}

#header .cart-icon .notify::before{
    content: attr(data_count_pr);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #eb3e32;
    color: #fff;
    text-align: center;
    line-height: 18px;
    top: 0;
    right: 0;
    transform: translateY(20%);
    position: absolute;
    font-size: 9px;
}

#header .login{
    width: inherit;
    padding: 0px 20px;
    margin-left: 10px;
    color: #fff!important;
    box-sizing: unset;
    background-color: var(--main-color);
    border-radius: 10px!important;
}

#header .login:hover{
    color: #000!important;
    background-color: var(--main-color)!important;
    box-shadow: 5px 5px 10px #000;
}

#header .login::before{
    content: attr(data-before);
    margin: 0 5px;
}

/* Hover */
#header #nav li:hover{
    transform: translateY(-5px);
    color: var(--main-color);
    font-weight: 500;
    cursor: pointer;
    /* transition: 0.3s ease-in; */
}

#header #nav li:hover > .animate{
    width: 100%;
    transition: 0.4s ease-out;
}

#header #group-account .icon:hover{
    cursor: pointer;
    background-color: #ccc;
    transition: 0.2s ease-in;
}

@keyframes colorbar{
    from{ width: 0%;}
    to{width: 100%;}
}

@media (min-width: 1160px) {
    #header #container{
        margin: 0 10px;
    }

}

@media (min-width: 1240px) {
    #header #container{
        margin: 0 40px;
    }   
}

