.container-login{
    position: relative;
    width: 100%;
    min-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/backgound/bgforLogin.png) top center /cover no-repeat;
}

.container-login .container-form{
    position: relative;
    width: 400px;
    padding: 10px 15px;
    margin: 0;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 40px #000;
    animation: rightToLeft 3s 1;
    transition: 3s ease-in-out;
}

.container-form .clear-button{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: 0.3s ease-in;
}

.container-form .clear-button:hover{
    cursor: pointer;
    background-color: red;
}

@keyframes rightToLeft{
    0%{
        transform: translateX(400px);
        opacity: 0;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

.container-form .heading-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.container-form .content-form{
    margin: 20px 10px;
}

.container-form .content-form > div{
    display: flex;
    margin: 10px 5px;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-direction: row;
}

.container-form .content-form input{
    display: block;
    width: 100%;
    margin: 0 10px;
    padding: 10px 5px;
    border: none;
    border-bottom: 1px solid var(--main-border-color);
}

.container-form .content-form .announce{
    margin-left: 45px;
    font-size: 12px;
    color: red;
    display: none;
}

.content-form label{
    padding: 5px;
}

.content-form label i{  
    width: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-form .button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.container-form .button input{
    width: 100%;
    color: #fff;
    margin: 10px 20px;
    padding: 15px 0;
    border-radius: 30px;
    border: unset;
    background-color: #000;
    transition: 0.3s ease-in-out;
}

.container-form .button input:hover{
    cursor: pointer;
    background-color: var(--main-color);
    border: unset;
}

.container-form .link-signIn{
    display: flex;
    justify-content: flex-end;
}

.container-form .link-signIn p{
    margin: 0 5px 10px;
    color: blue;
    text-decoration:underline;
}

.container-form .link-signIn p:hover{
    cursor: pointer;
    color: rgb(10, 62, 252);
}