*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html
{
    font-family: Arial, Helvetica, sans-serif;
}

.weight_550
{
    font-weight: 550;
}

.text_center
{
    text-align: center;
}

.padding_8_0
{
    padding: 8px 0;
}

.a_style
{
    text-decoration: none;  
    color: #626773;
}

.flex_layout
{
    display: flex;
}

#main
{
    background-color: #f5f5f5;
    height: 5000px;
}

#header
{
    height: 46px;
    background-color: #f5f5f5;
}

#header .logo_box
{
    width: 20%;
    padding: 0 16px;
    display: inline-block;
}

#header .logo_box a
{
    text-decoration: none;
    color: #626773;
    line-height: 46px;
}

#header .login_infor
{
    display: inline-block;
    float: right;
}

#header .login_infor
{
    line-height: 46px;
    padding: 0 16px;
}

#header .login_infor a
{
}

.flex_layout
{
    height: 100%;
}

.left_slider
{
    width: 240px;
    height: fit-content;
    display: inline-block;
    flex: 1;
}

.main_column
{
    flex: 4 ;
}
.column_item
{
    background-color: #fff;
}
#nav .login_name
{
    text-align: center;
}

#nav .icon
{
    padding-right: 4px;
}

#nav .login_name
{
    margin-top: 8px;
}
#nav li:hover a
{
    background-color: #626773;
    color: #fff !important;
}
#nav li a
{
    padding: 12px 20px;
    display: block;
}

.content
{
    margin-left: 5px;
    padding: 20px 15px;
}

.content .header_content h3
{
    color: #626773;
}

.btn
{
    height: fit-content;
    width: fit-content;
    background-color: #fff;
    color: #333;
    padding: 4px;
    cursor: pointer;
    border-radius: 3px;
}

.btn:hover
{
    background-color: #333;
    color: #fff;
}
