
/* add form */

.add_product_form
{
    border: #333 1px solid;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px  rgba(0, 0, 0, 0.2);

}

.add_product_form .form_label
{
    min-width: 160px;
}

.add_product_form .form_input
{
    flex: 1;
}


.add_product_row
{
    display: flex;
    padding: 8px 0;
    justify-content: center;
}
/* Product Table */

#displayArea
{
    width: 100%;
    box-shadow: 0 0 10px  rgba(0, 0, 0, 0.2);

}

#displayArea td
{
    border-bottom: #333 solid 1px;
    padding: 8px;
}

#displayArea tr:last-child td
{
    border: none;
}

#displayArea .table_pd_first_column
{
    width: 60%;
}

#displayArea .table_pd_second_column
{


}

#displayArea .table_pd_fourth_column
{


}

#edit

#footer
{

}
